
body{
    font-family: "Rubik", sans-serif;
    height: 100vh;
    width: 100vw;
    
    margin-top: 0%;
    margin: 0px;
    overflow: hidden;
}

#content{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;

    
}

#first{
    background-image: linear-gradient(hsl(293, 100%, 63%) ,hsl(264, 100%, 61%));
    height: 450px;
    width: 400px;
    margin-left: -75px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}
#phone{
    align-self: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 400px;
    width: 220px;
    border: 1px solid hsl(270, 20%, 96%) ;
    box-shadow: 5px 5px 10px hsl(270, 20%, 96%);
    border-radius: 40px;
    margin-left: -100px;
    padding: 10px;
}
#screen{
    
    background-color: hsl(270, 20%, 96%);
    height: 400px;
    width: 225px;
    border-radius: 30px;
    
}
#t{ 
    width: 120px;
    height: 25px;
    background-color: white;
    border: 1px solid hsl(210, 100%, 99%);
    margin: auto;
    margin-top: -90px;
    border-radius: 20px;
    position: absolute;
    border: none;
}

#tb{
   
    background-image: linear-gradient(to right,hsl(264, 100%, 61%), hsl(293, 100%, 63%));
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 95px;
    width: 225px;
    align-items: center;
    justify-content: center;
}

.svg{
    margin-top: 25px;
    
    
}
#avatar{
    border-radius: 50%;

}
#sam{
    /* width: 400px;
    border: 2px solid black; */
    font-size:12px;
    color: white;
    font-weight: bold;

}
#available{
    font-size: 9px;
    color: gainsboro;
    position: relative;
    top: -5px;
    
}
#samavail{
    /* width: auto; */
    margin-left: 10px;

}
#back{
    margin-left: 5px;
    margin-top: 8px;
}
#more{
    margin-left: 40px;
    margin-top: 8px;
}
#textspace{
    display: flex;
    flex-direction: column;
    height: 295px;
    width: 210px;
    padding: 5px;
    font-size: 10px;
    flex-wrap: nowrap;  
    color: hsl(276, 55%, 52%);
    /* border: 2px solid blue; */
}
.form,#textbox1,#textbox2,#textbox3,#textbox4,#textbox5,.dogpics,#send{
    animation-name: emptychat;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
#textbox1,#textbox2,#textbox3,#textbox4,#textbox5{
    display: flex;
    align-items: center;
    justify-content: center; 
}
#textbox1{
    width: 130px;
    height: 32px;
    border-radius: 10px;
    background-color: gainsboro;
    margin-top: 0px;
    animation: animatechatleft 0.5s linear 1s 1 backwards;
}
#textbox2{
    margin-top: 5px;
    width: 180px;
    height: 30px;
    border-radius: 10px;
    background-color: gainsboro;
    animation: animatechatleft 0.5s linear 2s 1 backwards;
}
.dogpics{
    display: flex;
    justify-content: flex-end;
    margin-top: 7px;
    margin-right: 0px;
    animation: animatechatleft 0.5s linear 3s 1 backwards;

}


#dogpic1,#dogpic2,#dogpic3{
   
    height: 30px;
    border-radius: 10px;
    margin-right: 5px;

}
.r-text{
    align-self: flex-end;
    
}
#textbox3{
    
    padding: 4px;
    width: 150px;
    height: 22px;
    border-radius: 10px;
    background-color: white;
    margin-top: 5px;
    color: hsl(271, 15%, 43%);
    animation: animatechatleft 0.5s linear 4s 1 backwards;

}
#textbox4{

    padding: 3px;
    width: 90px;
    height: 15px;
    border-radius: 10px;
    background-color: white;
    margin-top: 5px;
    color: hsl(271, 15%, 43%);
    animation: animatechatleft 0.5s linear 5s 1 backwards;

    
}
#textbox5{
    padding: 6px;
    width: 140px;
    height: 30px;
    border-radius: 10px;
    background-color: gainsboro;
    margin-top: 7px;    
    animation: animatechatleft 0.5s linear 6s 1 backwards;

}
#form1{
    animation: animatechatleft 0.5s linear 7s 1 backwards;

}
#form2{
    animation: animatechatleft 0.5s linear 8s 1 backwards;

}

.form{
    width: 150px;
    height: 25px;
    border-radius: 10px;
    background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    margin-top: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    color: white;

}


#send{
    
    display: flex;
    flex-direction: column;
    align-self: center;
    height: 30px;
    width: 180px;
    border-radius: 20px;
    background-color: white;
    margin-top: 5px; 
    border: 1px solid white;
    text-align: left;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    animation: animatechatleft 0.5s linear 9s 1 backwards;
    padding-right: 3px;

}
#sendicon{
    margin-left: 60px;
    align-self: flex-end;
}
#message{
    margin-left: 15px;
    color: gainsboro;
    /* border: 2px solid black; */
    
}
#price1{
    margin-left: 30px;
    font-size: 12px;
    font-weight: bold;
}
#price2{
    margin-left: 45px;
    font-size: 12px;
    font-weight: bold;
}
#middle{
    align-self: center;
    text-align: left;
    /* border: 2px solid green; */
    position: relative;
    left :100px;

}
p{
    font-size: 16px;
    width: 500px;
    line-height: 25px;
    color: hsl(270, 7%, 64%);
}
h1{
    font-size: 30px;
    color: hsl(271, 36%, 24%);
}

#last{
    z-index: -1;
    height: 500px;
    width: 400px;
    background-image: linear-gradient(hsl(293, 100%, 63%) ,hsl(264, 100%, 61%));
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    opacity: 0.1;
    margin-right:-100px ;
    margin-top: 100px;
}
.attribution{
    position: relative;
    top:120px;
    left: -100px;
}

@keyframes animatechatleft {
    from{transform: translate(0px, 20px); opacity: 0;}
    to{transform: translate(0px, 0px) ;opacity:1;}
    
}
@keyframes animatechatright {
    from{transform: translate(50px, 0px); opacity: 0;}
    to{transform: translate(0px, 0px) ;opacity:1;}
    
}
@keyframes emptychat {
    from{opacity: 0;}
    to{opacity:0;}
    
}

@media only screen and (max-width: 600px) {
    #content{
        flex-direction: row; 
        flex-wrap: wrap;
        height: 100vh;
        width: 100vw;
        overflow: hidden;   
        
    }
    #first{
        position: absolute;
        height: 520px;
        width: 400px;
        z-index: -1;
        margin-left: -180px;
        
    }
    #phone{
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        height: 500px;
        width: 290px;
        border: 1px solid hsl(270, 20%, 96%) ;
        box-shadow: 5px 5px 10px hsl(270, 20%, 96%);
        border-radius: 40px;
        margin-top: 80px;
    }
    #screen{
    
        background-color: hsl(270, 20%, 96%);
        height: 490px;
        width: 285px;
        border-radius: 30px;
        
    }
    #t{ 
        width: 120px;
        height: 30px;
        margin-top: -110px;
        border-radius: 20px;
        position: absolute;
        border: none;
    }
    
    #tb{
       
        border-top-left-radius: 30px;
        border-top-right-radius: 30px;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        height: 110px;
        width: 285px;
        align-items: center;
        justify-content: center;
    }
    .svg{
        margin-top: 25px;
        
        
    }
    #avatar{
        border-radius: 50%;
    
    }
    #sam{
        width: 400px;
        font-size:16px;
    
    }
    #available{
        font-size: 12px;
        color: gainsboro;
        position: relative;
        top: -2px;
        
    }
    
    #textspace{
        font-size: 13px;
        width: 260px;
        padding-left: 10px;
        padding-top: 10px;

        /* border: 2px solid black; */
        height: 355px;
    }
    #textbox1,#textbox2,#textbox3,#textbox4,#textbox5{
        display: flex;
        align-items: center;
        justify-content: center; 
    }
    #textbox1{
        padding: 2px;
        width: 180px;
        height: 50px;
        border-radius: 10px;
        background-color: gainsboro;
        margin-top: 0px;
        
    }

    #textbox2{
        padding: 2px;
        margin-top: 5px;
        width: 180px;
        height: 50px;
        border-radius: 10px;
        background-color: gainsboro;
        
    }
    .dogpics{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 10px;
        margin-right: -10px;
    }
    
    
    #dogpic1,#dogpic2,#dogpic3{
       
        height: 40px;
        border-radius: 10px;
        margin-right: 5px;
    }
    .r-text{
        align-self: flex-end;
        margin-right: -5px;
    }
    #textbox3{
        
        padding: 4px;
        width: 160px;
        height: 35px;
        border-radius: 10px;
        background-color: white;
        margin-top: 5px;
        color: hsl(271, 15%, 43%);
        margin-right: 0px;

        
    }
    #textbox4{
    
        padding: 3px;
        width: 140px;
        height: 20px;
        border-radius: 10px;
        background-color: white;
        margin-top: 5px;
        color: hsl(271, 15%, 43%);
        margin-right: 0px;
    
        
    }
    #textbox5{
        padding: 6px;
        width: 190px;
        height: 50px;
        border-radius: 10px;
        background-color: gainsboro;
        margin-top: 10px;    

    }
    .form{
        width: 180px;
        height: 30px;
        border-radius: 10px;
        background-image: linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
        margin-top: 7px;
        display: flex;
        justify-content: center;
    
        flex-wrap: wrap;
        flex-direction: column;
        color: white;
    }
    
    
    #send{
        
        display: flex;
        flex-direction: row;
        
        height: 40px;
        width: 240px;
        border-radius: 20px;
        background-color: white;
        margin-top: 10px; 
        border: 1px solid white;
        text-align: left;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
       
        
    }
    #sendicon{
        margin-left: 85px;
        align-self: flex-end;
    }
    #message{
        margin-left: 15px;
        color: gainsboro;
        
    }
    #price1{
        margin-left: 35px;
        font-size: 15px;
        font-weight: bold;
    }
    #price2{
        margin-left: 49px;
        font-size: 15px;
        font-weight: bold;
    }
    #middle{
        align-self: center;
        text-align: center;
        width: 300px;
        /* margin-left: -100px; */
        margin-top: 0px;
    }
    p{  
        position: relative;
        left: -40px;
        top: 30px;
        font-size: 16px;
        line-height: 25px;
        color: hsl(270, 7%, 64%);
        width: 300px;
    }
    h1{
        position: relative;
        top: 30px;
        left: -60px;
        margin: auto;
        font-size: 40px;
        color: hsl(271, 36%, 24%);
        width: 350px;
    }
    .attribution{
        position: relative;
        top:00px;
        left: 00px;
        width: 400px;
        margin-left: -80px;
        margin-top: 70px;
    }
    
    #last{
        z-index: -1;
        height: 550px;
        width: 420px;
        background-image: linear-gradient(hsl(293, 100%, 63%) ,hsl(264, 100%, 61%));
        border-top-right-radius: 50%;
        border-top-left-radius: 50%;
        opacity: 0.08;
       margin-left: 180px ;
       margin-top: -400px;
    }
}